:host{
  height: inherit;
  display: block;
}
.events-container{
  height: inherit;
  //overflow-y: scroll;
  //padding: 1rem;
}
.events-container-wrapper{
  overflow-y: scroll;
  padding: 1rem;
  height: 100%;
}
.events-container-wrapper::-webkit-scrollbar-thumb,
.events-container-wrapper::-webkit-scrollbar-track
{
  background: transparent;
}
.events-container-wrapper::-webkit-scrollbar {
  width: 10px;
}
.events-container-wrapper:hover::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
}
.events-container-wrapper:hover::-webkit-scrollbar-track{
  //background:  !important;
  border-radius: 10px !important;
}
.events-container-wrapper:hover::-webkit-scrollbar-thumb{
  border-radius: 10px !important;
  background: #1e293b;
}
.events{
  display: flex;
  gap: .5rem;
  margin-bottom: 12px;
}
button{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: 1px solid #1E293B;
  background: #0F172A;
  color: #fff;
  font-size: .75rem;
  cursor: pointer;
}
button span{
  //font-size: 1.2em !important;
}
button:hover{
  border: 1px solid #334155;
  background: #1E293B;
  color: #fff;
}
.btn-wrapper{
  position: relative;
}
.outcomes-wrapper{
  position: absolute;
  top: 50px;
  left: 100%;
  z-index: 50;
  background: #020617;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.outcomes-wrapper button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: .25rem;
  align-items: center;
  width: 100%;
}
.attacking{
  color: #22C55E;
}
.defending{
  color: #60A5FA;
}
.transitions{
  color: #FB923C;
}
.attacking span{
  background: #22C55E;
}
.defending span{
  background: #60A5FA;
}
.transitions span{
  background: #FB923C;
}
h3 span{
  background: #fff;
}
h3{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
  //margin-top: 12px;
}
.cat-name{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.cat-name span{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
