:host{
  height: inherit;
}
.event-log-container{
  background: #0F172A;
  border-radius: 8px;
  height: inherit;
  overflow-y: scroll;
}

.event-log-container::-webkit-scrollbar-thumb,
.event-log-container::-webkit-scrollbar-track
{
  background: transparent;
}
.event-log-container::-webkit-scrollbar {
  width: 10px;
}
.event-log-container:hover::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
}
.event-log-container:hover::-webkit-scrollbar-track{
  border-radius: 10px !important;
}
.event-log-container:hover::-webkit-scrollbar-thumb{
  border-radius: 10px !important;
  background: #1e293b;
}

.match-event-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  background: #0F172A;
  border-radius: 8px;
  overflow: hidden;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
  color: #fff;
  background: #0F172A;
}
thead tr{
  color: #64748B;
  width: 100%;
}
tbody tr{
  cursor: pointer;
}

th {
  color: #64748B;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 8px 12px 8px 12px;;
  text-align: left;
  border-bottom: .5px solid #1E293B;
}

td {
  padding: 12px;
  border-bottom: .5px solid #1E293B;
  color: #374151;
  font-size: 0.75rem;
}

.view-details-row {
  text-align: center;
  padding: 16px;
  background-color: #1E293B;
}

.view-details-row a {
  color: #22C55E;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.view-details-row a:hover {
  text-decoration: underline;
}

/* Event & Outcome Tags */
.event-tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
  background: #1E293B;
  color: #CBD5E1;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.outcome-tag{
  padding: 4px 8px;
  border-radius: 4px;
}
//.attacking { background: #dcfce7; color: #166534; }
//.defending { background: #dbeafe; color: #1e40af; }
//.discipline { background: #fef3c7; color: #92400e; }
.time{
  color: #22C55E;
}
.player{
  color: #fff;
  font-weight: bold;
}
.coords{
  color: #64748B;
}
caption .wrapper{
  display: flex;
  align-items: center;
  gap: .5rem;
}

caption span{
  font-size: 14px;
}
.m-event{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.icon{
  font-size: 14px;
}
