<div class="page-header">
  <div class="page-title">
    <div class="logo">
      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 17.5H7.5V11.25H5V17.5ZM15 17.5H17.5V5H15V17.5ZM10 17.5H12.5V13.75H10V17.5ZM10 11.25H12.5V8.75H10V11.25ZM2.5 22.5C1.8125 22.5 1.22396 22.2552 0.734375 21.7656C0.244792 21.276 0 20.6875 0 20V2.5C0 1.8125 0.244792 1.22396 0.734375 0.734375C1.22396 0.244792 1.8125 0 2.5 0H20C20.6875 0 21.276 0.244792 21.7656 0.734375C22.2552 1.22396 22.5 1.8125 22.5 2.5V20C22.5 20.6875 22.2552 21.276 21.7656 21.7656C21.276 22.2552 20.6875 22.5 20 22.5H2.5ZM2.5 20H20V2.5H2.5V20Z" fill="#22C55E"/>
      </svg>
    </div>
    <div class="name">
      <h1 class="">ProStats Capture</h1>
      <span>live analysis engine</span>
    </div>
  </div>
  <div class="league-details">
    <div class="search-bar">
      <input #vid type="text" placeholder="Paste youtube link">
      <button (click)="setVideoUrl(vid)">Change Game</button>
    </div>
  </div>
  <div class="user">
    <button class="export-csv">
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.66667 7.00001L1.75 4.08334L2.56667 3.23751L4.08333 4.75417V5.72205e-06H5.25V4.75417L6.76667 3.23751L7.58333 4.08334L4.66667 7.00001V7.00001M1.16667 9.33334C0.845833 9.33334 0.571181 9.2191 0.342708 8.99063C0.114236 8.76216 0 8.48751 0 8.16667V6.41667H1.16667V8.16667V8.16667V8.16667H8.16667V8.16667V8.16667V6.41667H9.33333V8.16667C9.33333 8.48751 9.2191 8.76216 8.99063 8.99063C8.76215 9.2191 8.4875 9.33334 8.16667 9.33334H1.16667V9.33334" fill="#22C55E"/>
      </svg>
      <span>Export CSV/JSON</span>
    </button>
  </div>
</div>
<div class="playground">
  <div class="lhs">
    <div class="lhs-top">
      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.68333 10.5L6.00833 6.825C5.71667 7.05833 5.38125 7.24306 5.00208 7.37917C4.62292 7.51528 4.21944 7.58333 3.79167 7.58333C2.73194 7.58333 1.83507 7.21632 1.10104 6.48229C0.367014 5.74826 0 4.85139 0 3.79167C0 2.73194 0.367014 1.83507 1.10104 1.10104C1.83507 0.367014 2.73194 0 3.79167 0C4.85139 0 5.74826 0.367014 6.48229 1.10104C7.21632 1.83507 7.58333 2.73194 7.58333 3.79167C7.58333 4.21944 7.51528 4.62292 7.37917 5.00208C7.24306 5.38125 7.05833 5.71667 6.825 6.00833L10.5 9.68333L9.68333 10.5ZM3.79167 6.41667C4.52083 6.41667 5.14062 6.16146 5.65104 5.65104C6.16146 5.14062 6.41667 4.52083 6.41667 3.79167C6.41667 3.0625 6.16146 2.44271 5.65104 1.93229C5.14062 1.42188 4.52083 1.16667 3.79167 1.16667C3.0625 1.16667 2.44271 1.42188 1.93229 1.93229C1.42188 2.44271 1.16667 3.0625 1.16667 3.79167C1.16667 4.52083 1.42188 5.14062 1.93229 5.65104C2.44271 6.16146 3.0625 6.41667 3.79167 6.41667Z" fill="#64748B"/>
      </svg>
      <input type="text" placeholder="Find Player" (input)="query.set($any($event.target).value)">
    </div>
    <div class="player-list">
      <div class="home">
        <div class="side-details">
          <h5 class="team-name">{{ filteredPlayersList().home.name }} (Home)</h5>
          <button type="button"><span class="material-symbols-outlined">person_add</span></button>
        </div>
        @for (player of filteredPlayersList().home.players; track player.id) {
          <app-player-card [player]="player" [active]="player.status === 'active'" (playerChange)="updatePlayer($event, player.id, 'home')" (click)="selectPlayer(player, 'home')"/>
        }
        @if (filteredPlayersList().home.players.length === 0){
          <small class="team-name">No home player found</small>
        }
      </div>
      <div class="away">
        <h5 class="team-name">{{ filteredPlayersList().away.name }} (Away)</h5>
        @for (player of filteredPlayersList().away.players; track player.id) {
          <app-player-card [player]="player" [active]="player.status === 'active'" (click)="selectPlayer(player, 'away')"/>
        }
        @if (filteredPlayersList().home.players.length === 0){
          <small class="team-name">No away player found</small>
        }
      </div>
    </div>
    <div class="lhs-bottom">
      <button type="button"><span class="material-symbols-outlined">delete</span></button>
    </div>
  </div>
  <div class="rhs">
    <div class="rhs-top">
            <div class="player-container">
<!--              @defer {-->
                <app-youtube-player [userSelectedTime]="seekTime()" [videoId]="videoUrl()" (timeSelected)="logSelectedTime($event)" (playerStopped)="stopPlay($event)"/>
<!--              }-->
            </div>
      <div class="pitch-container">
        <app-pitch (onSelectPitchConfig)="selectPitchPosition($event)" [highlightedCoordinate]="selectedTableItem()?.offset"/>
      </div>
    </div>
<!--    <div class="header">-->
<!--      <h2>Capture Events <button (click)="showTable()">Show Table</button></h2>-->
<!--    </div>-->
    <div class="rhs-bottom">
      <div class="header">
        <div class="tabs">
          <button (click)="showTable()" [class.active]="!isShowTable()">Events</button>
          <button (click)="showTable()" [class.active]="isShowTable()">Events Log</button>
        </div>
      </div>
      <div class="body">
        @if (!isShowTable()) {
          <div class="events-wrapper">
            <app-player-events [playerEvents]="PLAYER_EVENTS()" (onSelectedPlayerEvent)="updatePlayerEvent($event)"/>
          </div>
        }
        @if (isShowTable()) {
<!--          <div class="table-wrapper" [style.transform]="isShowTable() ? 'translateY(' + -260 + 'px)' : 'translateY(0)'">-->
          <div class="table-wrapper">
            <app-data-table [playerTableEntry]="matchLogEntry()" (showSelectedCoordinate)="showSelectedCoordinate($event)" (showSelectedCoordinateAndSeek)="seek($event)"/>
          </div>
        }
      </div>
      <div class="footer">
        <div class="trigger">
          <p>Quick Trigger Enabled</p>
          <p><span class="shortcut">Space</span> Commentary</p>
        </div>
        <span class="eventsQty">{{ matchLogEntry().length}} Events Captured</span>
      </div>
    </div>
  </div>

</div>
<div class="alerts-wrapper">
  @for (alert of alerts(); track alert.id) {
    <app-alert [prop]="alert.alert" (closed)="removeAlert(alert.id)"/>
  }
</div>
