@if (!close()) {
  @if (!type()) {
    <div class="alert" [class]="cssClass()"
         [style.top]="position() === 'top' ? (componentLength() + 10 )+ 'px' : 'initial'"
         [style.bottom]="position() === 'bottom' ? (componentLength() + 10 )+ 'px' : 'initial'"
         [style.right]="(componentLength() + 10 )+ 'px'">
      <b>{{cssClass()}}!</b> {{ message() }}
      <span class="closebtn" (click)="closeManually()">&times;</span>
    </div>
  }
  @if (type() == 'commentary') {
    @let commentary = message().split('{{player}}');
    <div class="alert" [class]="cssClass()"
         [style.bottom]="position() === 'bottom' ? (componentLength() + 10 )+ 'px' : 'initial'"
         [style.right]="(componentLength() + 10 )+ 'px'">
      <span class="material-symbols-outlined check">check_circle</span> {{ commentary[0] }} <div class="styled">{{player()}}</div> {{commentary[1]}}
    </div>
  }
}
