//Term	   Side	  |   Measurement	  |   Description
//Length	Longer  |   side	~105m	  |   Runs along the touchlines (goal to goal direction).
//Width	  Shorter |   side	~68m	  |   Runs along the goal lines (side to side across the pitch).
// 📌 The penalty arc starts 1.85 meters outside the penalty box line (because the penalty box line is 16.5m from the goal line).
//Also: Penalty box line distance from goal line: 16.5m Arc distance beyond the penalty box: ( 11 + 9.15 ) − 16.5 = 3.65𝑚 (11+9.15)−16.5 = 3.65m

:root {
  --actual-pitch-length-m: 105;
  --actual-pitch-width-m: 68; /* use 68 instead of 58 for realistic ratio */
  --mobile-pitch-width: 200px; /* this represents the shorter side (width) */
  --pitch-ratio: 1.544; /* 105 ÷ 68 */
  --pitch-border: 2px solid #fff;
  --pitch-center-circle-radius: 9.15; // 1.59 * 2
  --pitch-center-circle-diameter: var(--pitch-center-circle-radius) * 2; // 1.59 * 2

  --actual-penalty-width-sm: 18.3;
  --actual-penalty-length-sm: 5.5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
