@let dimensions = pitchSpecs.dimensions;
@let penaltyLg = pitchSpecs.penaltyAreaLarge;
@let penaltySm = pitchSpecs.penaltyAreaSmall;
@let centerCircle = pitchSpecs.centerCircle;

<div class="pitch-wrapper">
    <div class="pitch-box" (click)="getOffset($event)">
      @if (heatMap()?.show){
        <canvas
          appHeatmap
          [points]="heatMap()!.map"
          [radius]="50"
          [maxIntensity]="4"
          width="1500"
          height="1000">
        </canvas>
      }
      @if (selectedCoordinate().y) {
        <div class="pointer" [style.top]="selectedCoordinate().y + 'px'" [style.left]="selectedCoordinate().x + 'px'"></div>
      }
      @if (highlightedCoordinate()) {
        <div class="pointer highlight" [style.top]="highlightedCoordinate()?.y + 'px'" [style.left]="highlightedCoordinate()?.x + 'px'"></div>
      }
        <div class="center-circle">
            <div class="small-center-circle"></div>
        </div>
        <div class="divider"></div>
<!--      @for (zone of zones; track zone.id) {-->
<!--        <div class="zone" [style.width.%]="zone.coordinates.x2 - zone.coordinates.x1" [style.height.%]="zone.coordinates.y2 - zone.coordinates.y1" [style.left.%]="zone.coordinates.x1" [style.top.%]="zone.coordinates.y1">-->
<!--          <p>{{ zone.name }}</p>-->
<!--        </div>-->
<!--      }-->
      <div class="penalty-lg" [style.width]="((penaltyLg.length / dimensions.length) * 100) + '%'"
           [style.height]="((penaltyLg.width / dimensions.width) * 100) + '%'">
        <div class="penalty-sm" [style.width]="((penaltySm.length / penaltyLg.length) * 100) + '%'"
             [style.height]="((penaltySm.width / penaltyLg.width) * 100) + '%'"></div>

        <div class="penalty-arc" [style.width]="((centerCircle.diameter / penaltyLg.length) * 100) + '%'"
             [style.left]="((11/dimensions.length)*100) + '%'">
          <!--  Happy new year-->
          <!--      [style.left]="(((centerCircle.diameter / dimensions.length) * 100) - 11) + '%'">-->
        </div>
        <div class="penalty-spot"
             [style.left]="((11/penaltyLg.length)*100)+'%'">
        </div>
        </div>

      <div class="penalty-lg rotate" [style.width]="((penaltyLg.length / dimensions.length) * 100) + '%'"
           [style.height]="((penaltyLg.width / dimensions.width) * 100) + '%'">
        <div class="penalty-sm" [style.width]="((penaltySm.length / penaltyLg.length) * 100) + '%'"
             [style.height]="((penaltySm.width / penaltyLg.width) * 100) + '%'"></div>

        <div class="penalty-arc" [style.width]="((centerCircle.diameter / penaltyLg.length) * 100) + '%'"
             [style.left]="((11/dimensions.length)*100) + '%'">
          <!--  Happy new year-->
          <!--      [style.left]="(((centerCircle.diameter / dimensions.length) * 100) - 11) + '%'">-->
        </div>
        <div class="penalty-spot"
             [style.left]="((11/penaltyLg.length)*100)+'%'">
        </div>
      </div>
      <div class="corner-arc top-left"
           [style.width]="((1 / dimensions.length) * 100) + '%'"
           [style.top]="0"
           [style.left]="0">

      </div>
      <div class="corner-arc top-right"
           [style.width]="((1 / dimensions.length) * 100) + '%'"
           [style.top]="0"
           [style.right]="0">
      </div>
      <div class="corner-arc bottom-left"
           [style.width]="((1 / dimensions.length) * 100) + '%'"
           [style.bottom]="0"
           [style.left]="0">
      </div>
      <div class="corner-arc bottom-right"
           [style.width]="((1 / dimensions.length) * 100) + '%'"
           [style.bottom]="0"
           [style.right]="0">
      </div>

<!--      <div class="penalty-arc" [style.width]="((centerCircle.diameter / dimensions.length) * 100) + '%'"-->
<!--           [style.height]="((centerCircle.diameter / dimensions.width) * 100) + '%'">-->
<!--&lt;!&ndash;  Happy new year&ndash;&gt;-->
<!--&lt;!&ndash;      [style.left]="(((centerCircle.diameter / dimensions.length) * 100) - 11) + '%'">&ndash;&gt;-->
<!--      </div>-->
    </div>
</div>
