<div class="pitch-wrapper">
    <div class="pitch-box" (click)="getOffset($event)">
      <div class="pointer" [style.top]="selectedCoordinate().y + 'px'" [style.left]="selectedCoordinate().x + 'px'"></div>
      @if (highlightedCoordinate()) {
        <div class="pointer highlight" [style.top]="highlightedCoordinate()?.y + 'px'" [style.left]="highlightedCoordinate()?.x + 'px'"></div>
      }
        <div class="center-circle">
            <div class="small-center-circle"></div>
        </div>
        <div class="divider"></div>
<!--      @for (zone of zones; track zone.id) {-->
<!--        <div class="zone" [style.width.%]="zone.coordinates.x2 - zone.coordinates.x1" [style.height.%]="zone.coordinates.y2 - zone.coordinates.y1" [style.left.%]="zone.coordinates.x1" [style.top.%]="zone.coordinates.y1">-->
<!--          <p>{{ zone.name }}</p>-->
<!--        </div>-->
<!--      }-->
      <div class="penalty-lg" [style.width]="((actualPenaltyLengthLg / actualPitchLengthM) * 100) + '%'"
           [style.height]="((actualPenaltyWidthLg / actualPitchWidthM) * 100) + '%'">
        <div class="penalty-sm" [style.width]="((actualPenaltyLengthsm / actualPenaltyLengthLg) * 100) + '%'"
             [style.height]="((actualPenaltyWidthsm / actualPenaltyWidthLg) * 100) + '%'"></div>

        <div class="penalty-arc" [style.width]="((pitchCenterCircleDiameter / actualPenaltyLengthLg) * 100) + '%'"
             [style.height]="((pitchCenterCircleDiameter / actualPenaltyWidthLg) * 100) + '%'"
             [style.left]="((1.85/actualPenaltyLengthLg)*100) + '%'">
          <!--  Happy new year-->
          <!--      [style.left]="(((pitchCenterCircleDiameter / actualPitchLengthM) * 100) - 11) + '%'">-->
        </div>
        <div class="penalty-spot"
             [style.left]="((11/actualPenaltyLengthLg)*100)+'%'">
        </div>
        </div>

      <div class="penalty-lg rotate" [style.width]="((actualPenaltyLengthLg / actualPitchLengthM) * 100) + '%'"
           [style.height]="((actualPenaltyWidthLg / actualPitchWidthM) * 100) + '%'">
        <div class="penalty-sm" [style.width]="((actualPenaltyLengthsm / actualPenaltyLengthLg) * 100) + '%'"
             [style.height]="((actualPenaltyWidthsm / actualPenaltyWidthLg) * 100) + '%'"></div>

        <div class="penalty-arc" [style.width]="((pitchCenterCircleDiameter / actualPenaltyLengthLg) * 100) + '%'"
             [style.height]="((pitchCenterCircleDiameter / actualPenaltyWidthLg) * 100) + '%'"
             [style.left]="((1.85/actualPenaltyLengthLg)*100) + '%'">
          <!--  Happy new year-->
          <!--      [style.left]="(((pitchCenterCircleDiameter / actualPitchLengthM) * 100) - 11) + '%'">-->
        </div>
        <div class="penalty-spot"
             [style.left]="((11/actualPenaltyLengthLg)*100)+'%'">
        </div>
      </div>
      <div class="corner-arc top-left"
           [style.width]="((2 / actualPitchLengthM) * 100) + '%'"
           [style.height]="((2 / actualPitchWidthM) * 100) + '%'"
           [style.top]="-((1 / actualPitchWidthM) * 100) + '%'"
           [style.left]="-((1 / actualPitchLengthM) * 100) + '%'">

      </div>
      <div class="corner-arc top-right"
           [style.width]="((2 / actualPitchLengthM) * 100) + '%'"
           [style.height]="((2 / actualPitchWidthM) * 100) + '%'"
           [style.top]="-((1 / actualPitchWidthM) * 100) + '%'"
           [style.right]="-((1 / actualPitchLengthM) * 100) + '%'">
      </div>
      <div class="corner-arc bottom-left"
           [style.width]="((2 / actualPitchLengthM) * 100) + '%'"
           [style.height]="((2 / actualPitchWidthM) * 100) + '%'"
           [style.bottom]="-((1 / actualPitchWidthM) * 100) + '%'"
           [style.left]="-((1 / actualPitchLengthM) * 100) + '%'">
      </div>
      <div class="corner-arc bottom-right"
           [style.width]="((2 / actualPitchLengthM) * 100) + '%'"
           [style.height]="((2 / actualPitchWidthM) * 100) + '%'"
           [style.bottom]="-((1 / actualPitchWidthM) * 100) + '%'"
           [style.right]="-((1 / actualPitchLengthM) * 100) + '%'">
      </div>

<!--      <div class="penalty-arc" [style.width]="((pitchCenterCircleDiameter / actualPitchLengthM) * 100) + '%'"-->
<!--           [style.height]="((pitchCenterCircleDiameter / actualPitchWidthM) * 100) + '%'">-->
<!--&lt;!&ndash;  Happy new year&ndash;&gt;-->
<!--&lt;!&ndash;      [style.left]="(((pitchCenterCircleDiameter / actualPitchLengthM) * 100) - 11) + '%'">&ndash;&gt;-->
<!--      </div>-->
    </div>
</div>
