.pitch-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  //max-height: 400px;
  max-height: 100%;
  aspect-ratio: 105/68;
  background-color: red;
  padding: 10px;
  background: linear-gradient(270deg, #468944 0%, #30632A 0%, #30632A 5%, #468944 5%, #468944 10%, #30632A 10%, #30632A 15%, #468944 15%, #468944 20%, #30632A 20%, #30632A 25%, #468944 25%, #468944 30%, #30632A 30%, #30632A 35%, #468944 35%, #468944 40%, #30632A 40%, #30632A 45%, #468944 45%, #468944 50%, #30632A 50%, #30632A 55%, #468944 55%, #468944 60%, #30632A 60%, #30632A 65%, #468944 65%, #468944 70%, #30632A 70%, #30632A 74.85%, #468944 75%, #468944 79.71%, #30632A 80.04%, #30632A 85%, #468944 85.02%, #468944 90%, #30632A 90.33%, #30632A 95%, #468944 95.17%, #468944 100%);
  //border-radius: 10px;
}

.pitch-box{
  width: 100%;
  height: 100%;
  border: var(--pitch-border);
  position: relative;
}
.pitch-box *{
  pointer-events: none;
}

.center-circle{
  width: calc(100% * (var(--pitch-center-circle-diameter)  / 105));
  height: calc(100% * (var(--pitch-center-circle-diameter) / 68));
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--pitch-border);
  pointer-events: none;
}
.small-center-circle{
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: var(--pitch-border);
  background-color: #fff;
  border-radius: 100%;
  pointer-events: none;
}
.divider{
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: var(--pitch-border);
  background-color: #fff;
  pointer-events: none;
}
.zone{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.zone p{
  pointer-events: none;
}
.penalty-sm{
  //width: calc((var(--actual-pitch-length-m) / var(--actual-penalty-length-sm)) * 100%);
  //height: calc((var(--actual-pitch-width-m) / var(--actual-penalty-width-sm)) *100%);
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.penalty-lg{
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.penalty-lg.rotate{
  right: 0;
  padding-left: initial;
  transform: translateY(-50%) rotateY(180deg);
  transform-origin: center;
}

.penalty-arc{
  //width: calc(100% * (var(--pitch-center-circle-diameter)  / 105));
  //height: calc(100% * (var(--pitch-center-circle-diameter) / 68));
  border-radius: 100%;
  position: absolute;
  top: 50%;
  //left: 0;
  transform: translateY(-50%);
  border: var(--pitch-border);
  pointer-events: none;
  //z-index: -1;
  //clip-path: inset(0% 0% 0% 70%);
  clip-path: inset(0% 0% 0% 78%);
}
//.zone p{
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}
.penalty-spot{
  transform: translateY(-50%);
  top: 50%;
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute
}
.corner-arc{
  border-radius: 100%;
  background: transparent;
  position: absolute;
  border: 1px solid #fff;
}
.top-left{
  clip-path: inset(32% 0% 0% 40%);
}
.bottom-left{
  clip-path: inset(0% 0% 30% 50%);
}
.top-right{
  clip-path: inset(44% 38% 0% 0%);
}
.bottom-right{
  clip-path: inset(0% 27% 28% 32%);
}
.pointer{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
}
